SERVER_URL=http://CHANGE_TO_VPS_IP:8080
SERVER_PORT=8080
AUTHENTICATION_API_KEY=CHANGE_ME_LONG_RANDOM_KEY

DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:CHANGE_DB_PASS@evolution-postgres:5432/evolution_db?schema=evolution_api

POSTGRES_DATABASE=evolution_db
POSTGRES_USERNAME=evolution
POSTGRES_PASSWORD=CHANGE_DB_PASS

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution-redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution

WEBHOOK_GLOBAL_ENABLED=false
RABBITMQ_ENABLED=false
SQS_ENABLED=false

LANGUAGE=pt-BR
TZ=America/Sao_Paulo
